.house-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set the minimum height to the viewport height */
}

.house {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap between rooms on a row */
    padding: 2rem;
    width: 80%;
    margin-top: 1rem; /* Adjust the top margin to create less space between Triangle and rooms */
    justify-content: center;
    align-items: flex-start;
}

.triangle-container {
    margin-top: 1rem; 
}
